<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <h3>{{ title}}</h3>
    <h4>Покупатель: {{ user_name}}</h4>
    {% block content %}
        {% if orders != 0 %}
            <table style="border-collapse: collapse">
                <tr>
                    <th style="border: 1px solid gray; padding: 5px">Дата и время заказа</th>
                    <th style="border: 1px solid gray; padding: 5px">Стоимость заказа</th></tr>
                {% for order in orders %}
                    <tr>
                        <td style="border: 1px solid gray; padding: 5px"> {{ order.date_ordered }}</td>
                        <td style="border: 1px solid gray; padding: 5px"> {{ order.total_price }}</td>
                    </tr>
                {% endfor %}
            </table>

            <h4>Список купленных товаров</h4>
            <table style="border-collapse: collapse">
                <tr>
                    <th style="border: 1px solid gray; padding: 5px">Дата покупки</th>
                    <th style="border: 1px solid gray; padding: 5px">Наименование товара</th>
                {% for product in products %}
                    <tr>
                        <td style="border: 1px solid gray; padding: 5px"> {{ product.0 }}</td>
                        <td style="border: 1px solid gray; padding: 5px"> {{ product.1 }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>За выбранный период покупок нет</p>
        {% endif %}

    <h4><a href='/users/' >к списку пользователей</a></h4>
    {% endblock %}
</body>
</html>
