<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Заказы пользователя</title>
</head>
<body>
<h3> Список заказов пользователя - {{user_name}} </h3>
    <table style="border-collapse: collapse">
        <tr>
            <td style="border: 1px solid gray; padding: 5px">Выберите за какой период показать заказы</td>
        </tr>
        <tr>
            <td style="border: 1px solid gray; padding: 5px">
                <a href="7">За последние 7 дней</a>
            </td>
        <tr>
            <td style="border: 1px solid gray; padding: 5px">
                <a href="30">За последние 30 дней</a>
            </td>
        <tr>
            <td style="border: 1px solid gray; padding: 5px">
                <a href="365">За последний год</a>
            </td>
        <tr>
            <td style="border: 1px solid gray; padding: 5px">
                <a href="400">За всё время</a>
            </td>
        </tr>
    </table>
<h4><a href='/users/' >к списку пользователей</a></h4>
</body>
</html>